@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: 0 0% 99%;

	--foreground: 0 0% 12.5%;
	--foreground-subtle: 0 0% 39.3%;
	--foreground-muted: 211 21% 75%;

	--font-sans: 'Inter', sans-serif;
	--font-serif: 'Merriweather', serif;
	--font-mono: 'Source Code Pro', monospace;

	--code-bg: 0 0% 97.5%;
	--code-border: 0 0% 86.8%;
}

.dark {
	--primary: 0 0% 9.5%;

	--foreground: 0 0% 93.5%;
	--foreground-subtle: 0 0% 69.5%;
	--foreground-muted: 212 20% 40%;

	--code-bg: 0 0% 10.5%;
	--code-border: 0 0% 24.7%;
}

.ohm {
	@apply ohm-w-full ohm-bg-transparent;
}

.ohm * {
	@apply ohm-box-border;
}

.ohm .ProseMirror {
	@apply ohm-relative ohm-outline-none ohm-px-16 -ohm-mx-16;
}

.ohm .ProseMirror:first-child {
	@apply ohm-hidden;
}

.ohm .ProseMirror > * {
	@apply ohm-text-foreground ohm-break-words ohm-whitespace-break-spaces ohm-font-sans;
	-webkit-font-variant-ligatures: none;
	font-variant-ligatures: none;
	font-feature-settings: 'liga' 0; /* the above doesn't seem to work in Edge */
}

.ohm .block-menu-trigger {
	@apply ohm-opacity-0 ohm-w-6 ohm-h-6 ohm-pointer-events-none ohm-text-foreground-subtle ohm-bg-transparent ohm-absolute ohm-outline-none ohm-border-none ohm-p-0 ohm-mt-[3px] -ohm-ml-8 ohm-inline;

	transition:
		color 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
		150ms cubic-bezier(0.175, 0.885, 0.32, 1.275),
		opacity 150ms transform ease-in-out;
}

.ohm .block-menu-trigger:hover,
.ohm .block-menu-trigger:focus {
	@apply ohm-cursor-pointer ohm-scale-110 ohm-text-foreground-subtle;
}

.ohm .ProseMirror-focused .block-menu-trigger,
.ohm .block-menu-trigger:active,
.ohm .block-menu-trigger:focus {
	@apply ohm-opacity-100 ohm-pointer-events-auto;
}

.ohm h1,
.ohm h2,
.ohm h3,
.ohm h4,
.ohm h5,
.ohm h6 {
	@apply ohm-font-semibold ohm-cursor-text;
}

.ohm h1:not(.placeholder):before,
.ohm h2:not(.placeholder):before,
.ohm h3:not(.placeholder):before,
.ohm h4:not(.placeholder):before,
.ohm h5:not(.placeholder):before,
.ohm h6:not(.placeholder):before {
	@apply ohm-inline-block ohm-font-mono ohm-text-foreground-muted ohm-text-base -ohm-ml-8 ohm-w-8 ohm-opacity-0 ohm-leading-[0];
	transition: opacity 150ms ease-in-out;
}

.ohm .heading-name {
	@apply ohm-text-foreground;
}

.ohm .heading-name:hover {
	@apply ohm-no-underline;
}

.ohm a:first-child h1,
.ohm a:first-child h2,
.ohm a:first-child h3,
.ohm a:first-child h4,
.ohm a:first-child h5,
.ohm a:first-child h6 {
	@apply ohm-mt-0;
}

.ohm h1:not(.placeholder):before {
	content: 'H1';
}
.ohm h2:not(.placeholder):before {
	content: 'H2';
}
.ohm h3:not(.placeholder):before {
	content: 'H3';
}
.ohm h4:not(.placeholder):before {
	content: 'H4';
}
.ohm h5:not(.placeholder):before {
	content: 'H5';
}
.ohm h6:not(.placeholder):before {
	content: 'H6';
}

.ohm .ProseMirror-focused h1:not(.placeholder):before,
.ohm .ProseMirror-focused h2:not(.placeholder):before,
.ohm .ProseMirror-focused h3:not(.placeholder):before,
.ohm .ProseMirror-focused h4:not(.placeholder):before,
.ohm .ProseMirror-focused h5:not(.placeholder):before,
.ohm .ProseMirror-focused h6:not(.placeholder):before {
	@apply ohm-opacity-100;
}

.ohm h1:hover .heading-anchor,
.ohm h2:hover .heading-anchor,
.ohm h3:hover .heading-anchor,
.ohm h4:hover .heading-anchor,
.ohm h5:hover .heading-anchor,
.ohm h6:hover .heading-anchor {
	@apply !ohm-opacity-75;
}

.ohm h1:hover .heading-anchor:hover,
.ohm h2:hover .heading-anchor:hover,
.ohm h3:hover .heading-anchor:hover,
.ohm h4:hover .heading-anchor:hover,
.ohm h5:hover .heading-anchor:hover,
.ohm h6:hover .heading-anchor:hover {
	@apply !ohm-opacity-100;
}

.ohm .placeholder {
	@apply ohm-my-2;
}

.ohm .placeholder:before {
	@apply ohm-block ohm-opacity-0 ohm-pointer-events-none ohm-h-0 ohm-text-foreground-muted;
	transition: opacity 150ms ease-in-out;
	content: attr(data-empty-text);
}

/** Show the placeholder if focused or the first visible item nth(2) accounts for block insert trigger */
.ohm .ProseMirror-focused .placeholder:before,
.ohm .placeholder:nth-child(1):before,
.ohm .placeholder:nth-child(2):before {
	@apply ohm-opacity-100;
}

/* .ohm ul, */
/* .ohm ol { */
/*    margin: ${(props) => (props.rtl ? '0 -26px 0 0.1em' : '0 0.1em 0 -26px')}; */
/*    padding: ${(props) => (props.rtl ? '0 44px 0 0' : '0 0 0 44px')}; */
/*  } */

.ohm ol ol {
	@apply ohm-list-lower-alpha;
}

.ohm ol ol ol {
	@apply ohm-list-lower-roman;
}

.ohm ul.checkbox_list {
	@apply ohm-list-none ohm-p-0;
}

.ohm ul li,
.ohm ol li {
	@apply ohm-relative ohm-whitespace-normal;
}

.ohm ul li p,
.ohm ol li p {
	@apply ohm-whitespace-pre-wrap;
}

.ohm ul li > div,
.ohm ol li > div {
	@apply ohm-w-full;
}

.ohm ul.checkbox_list li {
	@apply ohm-flex ohm-pl-2;
}

.ohm ul.checkbox_list li.checked > div > p {
	@apply ohm-text-foreground-subtle ohm-line-through;
}

.ohm ul > li.counter-2::before,
.ohm ol li.counter-2::before {
	@apply -ohm-ml-12;
}

.ohm ul.checkbox_list li::before {
	@apply ohm-left-0;
}

.ohm ul.checkbox_list li input {
	@apply ohm-cursor-pointer ohm-w-4 ohm-h-4 ohm-relative ohm-top-px ohm-inline-block ohm-opacity-80 ohm-mr-2;
	transition: transform 100ms ease-in-out 0s;
	background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3 0C1.34315 0 0 1.34315 0 3V11C0 12.6569 1.34315 14 3 14H11C12.6569 14 14 12.6569 14 11V3C14 1.34315 12.6569 0 11 0H3ZM3 2C2.44772 2 2 2.44772 2 3V11C2 11.5523 2.44772 12 3 12H11C11.5523 12 12 11.5523 12 11V3C12 2.44772 11.5523 2 11 2H3Z' fill='%23E6E6E6' /%3E%3C/svg%3E%0A");
}

.ohm li p:first-child {
	@apply ohm-m-0 ohm-break-words;
}

.ohm pre {
	@apply ohm-block ohm-overflow-x-auto ohm-relative ohm-rounded-md ohm-text-base ohm-text-left ohm-whitespace-pre ohm-m-0 ohm-bg-code ohm-border ohm-border-code-border ohm-text-foreground ohm-py-3 ohm-px-4 ohm-leading-6;

	-webkit-font-smoothing: initial;
	direction: ltr;
	word-spacing: normal;
	word-break: normal;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.ohm pre code {
	@apply ohm-bg-transparent ohm-p-0 ohm-border-none;
}

.ohm code {
	@apply ohm-rounded-md ohm-border ohm-border-code-border ohm-bg-code ohm-px-1.5 ohm-py-1 ohm-font-mono ohm-text-[80%];
}

.ohm code:before,
.ohm code:after {
	@apply ohm-hidden;
}

.ohm .code-block {
	position: relative;
}

.ohm .code-block select {
	@apply ohm-hidden ohm-rounded-md ohm-text-base ohm-absolute ohm-border ohm-p-[2px] ohm-z-[1] ohm-top-1;
	/* background: ${(props) => props.theme.blockToolbarBackground}; */
	/* color: ${(props) => props.theme.blockToolbarItem}; */
}

.ohm .code-block.code-block select {
	@apply ohm-right-1;
}

.ohm button {
	@apply ohm-hidden ohm-py-[2px] ohm-px-1;
}

.ohm .code-block:hover select {
	/* @apply ohm-inline; */
	@apply ohm-hidden;
}

/* .ohm .code-block select:focus, */
/* .ohm .code-block select:active { */
/* 	display: inline; */
/* } */

.ohm p img.ProseMirror-separator {
	@apply ohm-hidden;
}
